node_modules/

# React Native
android/.gradle/
android/app/.cxx/
android/app/build/
android/build/
ios/Pods/
ios/DerivedData/
ios/build/

# Metro
metro-cache/
dist/
coverage/
.tmp/

# Misc
*.log
*.tmp
*.swp
yarn.lock
